<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			<h4>Colone 1</h4>
		</section>
		<section class="col">
			<h4>Colone 2</h4>

		</section>
		<section class="col">
			<h4>Colone 3</h4>
		</section>
	</div>
</footer>
